<div class="row">

    <!-- Earnings (Monthly) Card Example -->
   
        <div class="col-xl-3 col-md-6 mb-4" style="cursor: pointer;" *ngFor="let item of courses" >
            <div class="card shadow h-100 py-2">
                <a routerLink="/home/notas">                
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{item.title}}</div>
                                <div class="text-xs font-weight-bold text-center text-uppercase mb-1">
                                {{item.teacher}}</div>
                            
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div> 
   
    

 

  
   
</div> 